<?xml version="1.0"?>
<launch>

<!-- <arg name="meshfile" default="$(find rmcl_example)/maps/tray.dae" /> -->
<!-- <arg name="meshfile" default="$(find uos_gazebo_worlds)/Media/models/oru.dae" /> -->
<!-- <arg name="meshfile" default="/home/amock/blender_projects/oru/oru3.dae" /> -->
<!-- <arg name="meshfile" default="/home/amock/blender_projects/oru/oru4.dae" /> -->
<!-- <arg name="meshfile" default="/home/amock/datasets/oru/radar-longterm/recon_bad.dae" /> -->
<arg name="meshfile" default="/home/amock/hilti_uzh_tracking_area/hilti_uzh_tracking_area_deskewed.ply" />


<node pkg="radarays_ros" type="mesh_publisher" name="mesh_publisher" output="screen">
    <param name="file" type="string" value="$(arg meshfile)" />
    <param name="frame" type="string" value="map" />
    <param name="publish_freq" value="0.1" />
    <rosparam param="pre_transform">[0, 0, 0, 0, 0, 0, 1]</rosparam>
</node>

</launch>